* {
  margin: 0;
  padding: 0;
}
.testSlideshow {
  overflow: hidden;
}

body {
  background-color: cadetblue;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* .border{
  transition: visibility  5s ,opacity 5s linear;
} */
/* .heading {
    text-align: center;
    font-family: "Amatic SC", cursive;
    color: var(--lite);
  } */

/* label {
    margin: 10px;
  }
  label.radio {
    cursor: pointer;
  }

  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }

  label.radio span {
    padding: 4px;
    border: 1px solid #00a8ff;
    display: inline-block;
    color: #00a8ff;
    width: 150px;
    height: fit-content;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
    text-transform: uppercase;
  } */
/* 
  label.optionDiv input:checked + label {
    border-color: #00a8ff;
    background-color: #00a8ff;
    color: #fff;
  } */

/* .ans {
    margin-left: 36px !important;
  } */
/* .btnQuiz {
    margin-top: 5px;
    background-color: #00a8ff;
    color: #fff;
    border-radius: 0%;
  }
  .btnQuiz:hover {
    color: #fff;
  }
  .quitSubmit {
    visibility: hidden;
  } */
.timerPar {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

.time_left_txt {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

#timer {
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}
.progress-bar {
  transition: width 1s linear;
}

header {
  text-transform: uppercase;
  color: #2dceb1;
  letter-spacing: 4px;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2dceb1;
  background: #fbfbfb;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #fbfbfb;
}
header small {
  font-size: large;
}
.fullscreenToggleBtn {
  height: 30px;
  width: 30px;
  /* border: 2px solid #b9b5b5; */
  cursor: pointer;
}
/* .fullscreenToggleBtn:hover{
  height: 35px; width: 35px;
  transition: all  linear;
} */
.quitBtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  /* border: 2px solid #b9b5b5; */
}
/* animation to new ques div */
@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* animate new box */
.border {
  animation: append-animate 0.5s linear;
}
