body {
  background-color: cadetblue;
  overflow: hidden;
}



  .heading {
    text-align: center;
    font-family: "Amatic SC", cursive;
    color: var(--lite);
  }

  /* label {
    margin: 10px;
  }
  label.radio {
    cursor: pointer;
  }

  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }

  label.radio span {
    padding: 4px;
    border: 1px solid #00a8ff;
    display: inline-block;
    color: #00a8ff;
    width: 150px;
    height: fit-content;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
    text-transform: uppercase;
  } */
/* 
  label.optionDiv input:checked + label {
    border-color: #00a8ff;
    background-color: #00a8ff;
    color: #fff;
  } */

  /* .ans {
    margin-left: 36px !important;
  } */
  .btnQuiz {
    margin-top: 5px;
    background-color: #00a8ff;
    color: #fff;
    border-radius: 0%;
  }
  .btnQuiz:hover {
    color: #fff;
  }
  .quitSubmit {
    visibility: hidden;
  }
 .timerPar{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

#timer{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}
