.quesContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #0d1229;
}
.counterContainer {
  /* width: 100%;
  text-align: center; */
  /* height: 100%; */
  font-size: 60px;
}

.counter {
  color: aliceblue;

  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.counter span {
  display: inline-block;
  opacity: 0;
  animation: anime 1s ease-in-out;
}
@keyframes anime {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(1.5);
  }
  50% {
    filter: blur(0px);
  }
  100% {
    opacity: 1;
    transform: scale(0.5);
  }
}
